<div>
    <div class="col-md-4 offset-md-4">
        <h2 class="text-center">New life</h2>
        <%= form_with model: @life, :url => {:action => :create }, local: true do |f| %>
            <div class="form-group">
                <label>Email</label>
                <%= f.text_field :mail, class: "form-control" %>
            </div>
            <div class="form-group">
                <label>password</label>
                <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="text-center">
                <%= f.submit "Save", class: "btn btn-primary" %>
            </div>
        <% end %>
    </div>
</div>
