<div>
    <h2 class="mb-5 text-center">新規登録</h2>
    <div class="w-50 mx-auto">
        <%= form_with model: @life, :url => {:action => :create }, local: true do |f| %>
            <div class="form-group">
                <label>メールアドレス</label>
                <%= f.text_field :mail, class: "form-control" %>
            </div>
            <div class="form-group">
                <label>パスワード</label>
                <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="text-center">
                <%= f.submit "登録", class: "btn btn-primary" %>
            </div>
        <% end %>
    </div>
</div>
