<% provide(:title, "Show") %>
<div>
    <%= render "basic-infomation" %>
    <% if @life.id == current_user.id %>
        <div class="mt-3 w-100">
            <%= link_to "編集する", edit_life_path, class: "btn btn-primary btn-wide" %>
        </div>
    <% end %>
    <div class="mt-5">
        <%= render "content-show" %>
    </div>
    <% if @life.id == current_user.id %>
        <div class="mt-5">
            <%= render "layouts/content-form" %>
        </div>
    <% end %>
</div>
